body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.order-placed-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.order-details {
    margin-bottom: 20px;
}

.order-details h2 {
    color: #007bff;
}

.order-details ul {
    list-style-type: none;
    padding: 0;
}

.order-details ul li {
    margin-bottom: 10px;
}


